<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">Join Us For A Secure Neighborhood</p>
      <div class="row">
        {{! <div class="col-md-6 col-12 hero-text">
          <figure class="security-image">
            <img src="images/security_image.jpg" alt="securityguard_image" />
          </figure>
        </div> }}

        {{!right side}}
        <div
          class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column"
        >{{! md is medium devices and col alone is mobile devices. the order property means that when it is in medium devices it will be on the left and in mobile devices it will be one step down}}
          <h1> Welcome To The</h1>
          <h1> The Security Guard Website</h1>
          <p>We are a team of
            <span class="bold-style">
              Professional Security guard providers</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>